fastapi>=0.115.12
uvicorn>=0.34.0

firebase-admin>=6.7.0
python-jose==3.4.0
passlib==1.7.4
python-multipart==0.0.20
python-dotenv>=1.1.0

requests>=2.32.3
google-cloud-firestore==2.20.1
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
protobuf==5.29.4
rsa==4.9

starlette==0.46.1
websockets==15.0.1
twilio
pydantic